#container {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-auto-flow: dense;
    /*grid-auto-flow: dense; を指定することで、開いているスペースをなるべく埋めるという指定にすることが出来る*/
}
#itemB {
    grid-row: span 2; grid-column: span 2;
}
#itemC {
    grid-row: span 2; grid-column: span 2;
}