body {
    display: grid;
    margin: 0;
    min-height: 100vh;
    grid-template-rows: 100px 100px 1fr 100px;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas:
        "title  title  title "
        "nav    main   ad    "
        "nav    main   side  "
        "footer footer footer";
}
body > * {
    margin: 3px;
    padding: 10px;
}
h1 {
    grid-area: title;
    background: #faa;
    border-radius: 10px 10px 0 0;
}
main {
    grid-area: main;
    background: #afa;
}
nav {
    grid-area: nav;
    background: #aaf;
}
#side {
    grid-area: side;
    background: #faf;
}
footer {
    grid-area: footer;
    background: #aaa;
    border-radius: 0 0 10px 10px;
}
#ad {
    grid-area: ad;
    background: #888;
}