<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- CSSファイルの読み込み -->
  <link rel="stylesheet" href="gridlayout_sample1.css">
  <title>gridlayout</title>
</head>
<body>
	<dl id="images">
	    <dt id="dt1"><img src="img/お文具さん.jpg"></dt>
	    <dd id="dd1"><p>＜　つくれたかな？</p></dd>
	    <dt id="dt2"><img src="img/お文具さん.jpg"></dt>
	    <dd id="dd2"><p>こんな感じなのです　＞</p></dd>
	</dl>
</body>
</html>