#container {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}
#itemB {
    grid-row: span 2; grid-column: span 2;
}
#itemC {
    grid-row: span 2; grid-column: span 2;
}